@implements IDisposable

@inject NavigationManager NavigationManager

<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Liga Regional</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Inicio
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="matches">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Fixture
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="standings">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Tabla
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="clubs">
                <span class="bi bi-person-badge-nav-menu" aria-hidden="true"></span> Clubes
            </NavLink>
        </div>

        <AuthorizeView>
            <Authorized Context="userContext">
                <AuthorizeView Roles="@contributorRoles">
                    <Authorized Context="contributorContext">
                        <div class="nav-item px-3">
                            <NavLink class="nav-link" href="contributor">
                                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Colaborar
                            </NavLink>
                        </div>
                    </Authorized>
                </AuthorizeView>
                <AuthorizeView Roles="@moderatorRoles">
                    <Authorized Context="moderatorContext">
                        <div class="nav-item px-3">
                            <NavLink class="nav-link" href="moderation">
                                <span class="bi bi-lock-nav-menu" aria-hidden="true"></span> Moderar
                            </NavLink>
                        </div>
                    </Authorized>
                </AuthorizeView>
                <AuthorizeView Roles="@AppRoles.Admin">
                    <Authorized Context="adminContext">
                        <div class="nav-item px-3">
                            <NavLink class="nav-link" href="admin">
                                <span class="bi bi-lock-nav-menu" aria-hidden="true"></span> Admin
                            </NavLink>
                        </div>
                    </Authorized>
                </AuthorizeView>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="Account/Manage">
                        <span class="bi bi-person-fill-nav-menu" aria-hidden="true"></span> @userContext.User.Identity?.Name
                    </NavLink>
                </div>
                <div class="nav-item px-3">
                    <form action="Account/Logout" method="post">
                        <AntiforgeryToken />
                        <input type="hidden" name="ReturnUrl" value="@currentUrl" />
                        <button type="submit" class="nav-link">
                            <span class="bi bi-arrow-bar-left-nav-menu" aria-hidden="true"></span> Salir
                        </button>
                    </form>
                </div>
            </Authorized>
            <NotAuthorized>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="Account/Register">
                        <span class="bi bi-person-nav-menu" aria-hidden="true"></span> Registro
                    </NavLink>
                </div>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="Account/Login">
                        <span class="bi bi-person-badge-nav-menu" aria-hidden="true"></span> Ingresar
                    </NavLink>
                </div>
            </NotAuthorized>
        </AuthorizeView>
    </nav>
</div>

@code {
    private string? currentUrl;
    private static readonly string contributorRoles = $"{AppRoles.Contributor},{AppRoles.Moderator},{AppRoles.Admin}";
    private static readonly string moderatorRoles = $"{AppRoles.Moderator},{AppRoles.Admin}";

    protected override void OnInitialized()
    {
        currentUrl = NavigationManager.ToBaseRelativePath(NavigationManager.Uri);
        NavigationManager.LocationChanged += OnLocationChanged;
    }

    private void OnLocationChanged(object? sender, LocationChangedEventArgs e)
    {
        currentUrl = NavigationManager.ToBaseRelativePath(e.Location);
        StateHasChanged();
    }

    public void Dispose()
    {
        NavigationManager.LocationChanged -= OnLocationChanged;
    }
}

